[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = ">=2.0.5"
coverage = ">=4.1"
pytest = ">=2.9.2,<4"
pytest-cov = "<3,>=2.3"
pytest-filedata = "<1"
tox = ">=3,<4"
jinja2 = ">=2.10,<3"
tmpl = "==0.3.0"

[packages]
munge = "<1,>=0.4"
cfu = ">=1.4.0,<2"
grainy = ">=1.4.0,<2"
git-url-parse = ">=1.1.0,<2"
pluginmgr = ">=0.6"
